.section {
    padding-left : 2%;
    padding-right: 3%;
}

.slidable {
    @media (min-width: 720px) {
        max-width: 80vw;
    }

    @media (min-width: 1200px) {
        max-width: 60vw;
    }
}

// for smaller device, fallback to overflow-x
@media(max-width: 540px) {
    .slidable {
        min-height: 60vh;

        overflow-x    : auto;
        flex-direction: row;
        flex-wrap     : nowrap;
    }

    .col {
        width  : 80vw;
        display: inline-block;
    }
}

.welcome {
    color: #24292e;

    h1.title {
        @media (orientation: landscape) {
            font-size: 10vw;
        }

        @media (orientation: portrait) {
            font-size: 10vh;
        }
    }
}

.section {
    color: #24292e;

    .title {
        font-size    : 7vh;
        margin-bottom: 2vh;
    }

    .title2 {
        font-size: 9vh;
    }

    .description {
        font-size: 1.5rem;
        color    : rgb(87, 87, 87);

        @media (max-width: 720px) {
              font-size: 1rem;
        }
    }

    h1.title {
      @media(max-width: 720px) {
          margin-left : 2rem;
          margin-right: 2rem;
          font-size   : 2rem;
      }
    }



}

.user-research-findings {
    @media (min-width: 720px) {
        .slidable {
            max-width: 90vw;
        }
    }

    @media (min-width: 1200px) {
        .slidable {
            max-width: 80vw;
        }
    }

    @media (min-width: 1400px) {
        .slidable {
            max-width: 70vw;
        }
    }
}

.competitor-analysis {

    h1,
    h2 {
        color: rgb(233, 237, 241);
    }
}

.methods-employed1,
.methods-employed2 {

    h1,
    h2 {
        color: rgb(130, 100, 100);
    }
}

.personas {
    .slidable {
        @media (min-width: 1200px) {
            max-width: 80vw;
        }
    }
}

.reflections, .user-evaluation, .heuristic-evaluation, .acknowledgements {
    ul {
        li.description {
            font-size    : 2rem;
            margin-bottom: 20px;

            @media(max-width: 720px) {
                margin-left : 2rem;
                margin-right: 2rem;
                font-size   : 1rem;
            }
        }
    }
    h1.title {
      @media(max-width: 720px) {
          margin-left : 2rem;
          margin-right: 2rem;
          font-size   : 2rem;
      }
    }
}
