.section {
    padding-left : 2%;
    padding-right: 3%;
}


.welcome {
    color: #24292e;

    .title {
        @media (orientation: landscape) {
            font-size: 10vw;
        }

        @media (orientation: portrait) {
            font-size: 10vh;
        }
    }
}

.its-getting-popular,
.problem,
.users1,
.users2 {
    color: #24292e;

    .open-source {
        font-size    : 8vh;
        margin-bottom: 4vh;
    }

    .popular {
        font-size: 9vh;
    }
}

.competitor-analysis {

    h1,
    h2 {
        color: rgb(225, 229, 233);
    }

    .competitors {
        @media (min-width: 720px) {
            max-width: 80vw;
        }

        @media (min-width: 1200px) {
            max-width: 60vw;
        }
    }

    // for smaller device, fallback to overflow-x
    @media(max-width: 540px) {
        .competitors {
            height: 80vh;

            overflow-x    : auto;
            flex-direction: row;
            flex-wrap     : nowrap;
        }

        .col {
            width  : 70vw;
            display: inline-block;
        }
    }
}

.methods-employed1,
.methods-employed2 {

    h1,
    h2 {
        color: rgb(130, 100, 100);
    }

    .methods {
        @media (min-width: 720px) {
            max-width: 80vw;
        }

        @media (min-width: 1200px) {
            max-width: 60vw;
        }
    }

    // for smaller device, fallback to overflow-x
    @media(max-width: 540px) {
        .methods {
            height        : 80vh;
            overflow-x    : auto;
            flex-direction: row;
            flex-wrap     : nowrap;
        }

        .col {
            width  : 70vw;
            display: inline-block;
        }
    }
}

.personas {

    .personas-list {
        @media (min-width: 720px) {
            max-width: 90vw;
        }

        @media (min-width: 1200px) {
            max-width: 70vw;
        }
    }

    // for smaller device, fallback to overflow-x
    @media(max-width: 540px) {
        .personas-list {
            height: 50vh;

            overflow-x    : auto;
            flex-direction: row;
            flex-wrap     : nowrap;
        }

        .col {
            width  : 90vw;
            display: inline-block;
        }
    }
}